{% extends 'base.html' %}
{% block content %}

<!-- Container for About Us and Product Section -->
<div class="container">
    <!-- About Us Section -->
    <div class="left-box">
        <h1>About Us</h1>
        <p style="text-align: justify; line-height: 2; font-size: 20px;">Welcome to ZSPORT, your one-stop shop for all things football! We offer a wide range of products, from equipments, clothing, and many more! 
            Our mission is to provide high-quality products at affordable prices. So, what are you waiting for? come shop with ZSPORT!</p>

    <!-- Product Section -->
    <div class="right-box">
        <a href="{% url 'main:create_product' %}">
            <button>+ Add product</button>
        </a>

        <a href="{% url 'main:logout' %}">
            <button>Logout</button>
        </a>

        <h5>Last login session: {{ last_login }}</h5>
        <hr style="margin-bottom: 20px;">

        <a href="?filter=all">
            <button type="button">All Products</button>
        </a>
        <a href="?filter=my">
            <button type="button">My Products</button>
        </a> 

        {% if not product_list %}
            <p>Sorry, products are currently unavailable</p>
        {% else %}
            <div class="product-list">
                {% for product in product_list %}
                    <div class="product-item">
                        <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

                        {% if product.is_featured %}
                            | <b>Featured</b>
                        {% endif %}

                        {% if product.thumbnail %}
                        <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
                        <br />
                        {% endif %}

                        <p>{{ product.description|truncatewords:25 }}</p>

                        <p><a href="{% url 'main:show_product' product.id %}"><button>Read More</button></a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="contact-owner">
        <h3>Application made by</h3>
        <p style="display: inline;">{{ owner_name }}</p>
        <p style="display: inline; margin-left: 20px;">{{ class }}</p>
    </div>
</div>
{% endblock content %}